@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #70E3C7;
 
  --secondary: #EEFCF8;  ;

  --error: #CE0000;

  --accent: #490878;

  --inactive: #CBF6EA;
  

}

@layer base {
  @font-face {
    font-family: "Inter-V";
    font-style: normal;
    src: url(/Inter-V.ttf) format("truetype");
}
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.game-card {
  @apply bg-gray-800 text-white p-6 rounded-lg shadow-lg;
}
.lyrics-snippet {
  @apply text-lg font-semibold mb-4;
}
.timer {
  @apply text-red-500 font-bold text-xl mb-4;
}
.guess-input {
  @apply w-full p-2 border rounded-lg mb-4;
}
.submit-btn {
  @apply bg-blue-500 text-white px-4 py-2 rounded-lg;
}
.success-message {
  @apply text-green-500 font-bold mt-4;
}
.timeout-message {
  @apply text-yellow-500 font-bold mt-4;
}
.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
